* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Lato, sans-serif;
  color: #222;
}
h2 {
  font-size: 2.5em;
}
p {
  font-size: 1.25em;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
}
.header {
  background: #efeff3;
  display: flex;
}
.header .header-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
}
@media (min-width:800px) {
  .header .header-container {
    max-width: 1000px;
    padding-left: auto;
    padding-right: auto;
    justify-content: flex-start;
    padding: 2em;
  }
}
.header .header-container img {
  width: 48%;
}
@media (min-width:800px) {
  .header .header-container img {
    width: 30%;
  }
}
.header .header-container p {
  width: 48%;
  font-family: "Lato-Bold", sans-serif;
  font-size: 2.3em;
  text-align: center;
}
@media (min-width:800px) {
  .header .header-container p {
    text-align: left;
    padding-left: 10px;
    font-size: 4em;
  }
}
.content .sections {
  margin: 1em;
}
.content .sections p {
  margin: 1.5em 1em;
}
@media (min-width:800px) {
  .content .sections p {
    margin: 2.5em 2em;
  }
}
.content .sections .buttons {
  display: flex;
  justify-content: space-around;
}
.content .sections .buttons button {
  width: 65%;
  color: white;
  background: #bb1333;
  padding: 1em 3em;
  border: 1px solid #55596d;
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  background: #efeff3;
  padding: 2em 0;
}
.tabs {
  overflow: hidden;
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tabs .tabs-item {
  flex-flow: row nowrap;
  display: none;
  width: 100%;
}
.tabs .tabs-item-selected {
  display: flex;
}
.tabs .tabs-item-selected .tabs-item-description {
  display: flex;
  flex-flow: row nowrap;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-between;
}
.tabs .tabs-link {
  padding: 0.75em 0.5em;
  font-size: 1.25rem;
  background-color: #55596d;
  color: white;
  width: 19.8%;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #e81941;
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
