.team .tabs {
    display: inline-block;
    width: 100%;
    .tabs-items {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tabs-item {
        display: none;
        width: 75%;
        .tabs-item-title {
            font-weight: bold;

        }
    }
    .tabs-item-selected {
        display: block;
    }

    .tabs-links {
        display: flex;
        justify-content: center;
    }

    .tabs-link {
        padding: 1em 1.5em;
    font-size: 2rem;
    background-color: @lambdared;
    border-right: 1px solid white;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: @lambda-light-red;
    }
    }
}
