.header {
    background: @lightgrey;
    display: flex;
    .header-container {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
        @media @desktop {
        max-width: 1000px;
        padding-left: auto;
        padding-right: auto;
        justify-content: flex-start;
        padding: 2em;
    }

    img {
        width: 48%;
        @media @desktop{
            width: 30%;
        }
        
    }
    p {
        width: 48%;
        font-family: "Lato-Bold", sans-serif;
        font-size: 2.3em;
        text-align: center;
        @media @desktop {
            text-align: left;
            padding-left: 10px; 
            font-size: 4em;
        }
    }
    }
    
    
    
    
}


