.header {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
    background: @lightgrey;

    
    img {
        width: 48%;
        
    }
    p {
        width: 48%;
        font-family: "Lato-Bold", sans-serif;
        font-size: 3em;
        text-align: center;
    }
}


