.header {
    background: @lightgrey;
    display: flex;
    flex-flow: column wrap;
    .header-container {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
        @media @desktop {
        max-width: 1000px;
        padding-left: auto;
        padding-right: auto;
        justify-content: flex-start;
        padding: 2em;
    }

    img {
        width: 40%;
        @media @desktop{
            width: 30%;
        }
        
    }
    p {
        width: auto;
        font-family: "Lato-Bold", sans-serif;
        font-size: 2.3em;
        text-align: left;
        @media @desktop {
            text-align: left;
            padding-left: 25px; 
            font-size: 4.4em;
            }
        }
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .menu-links {
            display: none;
            width: 100%;
            
            @media @desktop {
                display: flex;
                justify-content: space-around;
                padding-left: auto;
                font-family: "Lato", sans-serif;
                font-size: 2em;
            }
        }
        .menu-link {
            color: white;
            background-color: @testgrey;
            padding: 10px 14.6%;
        }
    }
    
    
    
    
}


