.content {
  .sections {
    margin: 1em;
    p {
      margin: 1.5em 1em;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        button {
            width: 65%;
            color: white;
            background: @lambda-red;
            padding: 1em 3em;
            border: 1px solid @grey;
            border-radius: 20px;
        }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  background: @lightgrey;
  padding: 2em 0;
}
