* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import 'variables';
// @import 'mixins';
@import 'reset';
@import 'global';
@import 'nav';

.header {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}