// Color Vars
@lambda-red :  #bb1333;
@darkblue : #002070;
@blue : #1e50ee;
@lightblue: #08addd;
@grey : #55596d;
@lightgrey : #efeff3;
@lambda-light-red: lighten(@lambda-red,10%);
@testgrey: lighten(@grey, 30%);
@font-color : #222;


@desktop: ~"(min-width:725px)";